
    <div class="center" style="margin-top: 5%">
    
        <br/><br/>
 <form [formGroup]="editNoticiaForm" clrForm class="miForm">
    <span class=" inpresp1  " >
        <h1 class="" >{{noticia.titulo}}</h1><br>
        </span>

    <span class=" inpresp1 " >
        <label for="float-input" style="color: rgb(214, 213, 213)"></label><br>
        <img [src]="getImagen()" class="center"   id="img" alt="">
        
      <br/><br/>


        <p >{{noticia.descripcion}}</p><br>
    </span>

    
    <h4 style="float: right;">Fecha de Vencimiento: {{noticia.fechaCaducidad}}</h4>
    
    
        
    

    

    

    
 </form>
