
<div *ngIf="logueado=='1'" style="margin-top: 1%; width: 40%; float: right; margin-bottom: 4%">
    <a href="altaMateria"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" name="add" value="Nueva Materia"></a>
</div>


<div class="" 

               >
                    
                <div class="">

                    <table class="table estiloTable " >
                        <thead>
                            <tr>
                            <th class="titulo ">Id</th>
                            <th class="titulo">Créditos Minimos</th>
                            <th class="titulo ">Nombre</th>
                            <th class="titulo">Descripción</th>
                            <th class="titulo ">Acciones</th>

                        </tr>


                        </thead>
                        <tbody *ngFor="let n of lstMaterias; let i = index">
                        <tr>
                            <td><p class="texto">{{n.id}}</p></td>
                            <td style="width: 200px"><p class="texto">{{n.creditosMinimos}}</p></td>
                            <td><p class="texto">{{n.nombre}}</p></td>
                            <td><p class="texto">{{n.descripcion.substring(0,20)}}...</p></td>
                            <td *ngIf="logueado=='1'" style="vertical-align:text-top; width: 10%;">

                                <input style="display:none" type="text" value={{n.id}} name="id">

                                <input style="border-radius: 5px; width: 70px" class="btnEliminar btnResp" type="submit" id={{n.id}} name="eliminar" value="Eliminar" (click)="eliminar(n.id)">
                                <a href="editarMateria"><input style="border-radius: 5px; width: 70px" class="btnEditar btnResp" type="submit" id={{n.id}} name="editar" value="Editar" (click)="abrirEditar(i)"></a>
                                
                            </td>
                             
                        </tr>

                            

                           

                        </tbody>
                    </table>

                   
                </div>
                
                <div class="">
                    
                </div>
</div>
