<br/><br/><br/>
<div [style]="{'display': 'flex' ,'justify-content': 'center'}"  >
<p-card header="Nuevo Documento" [style]="{'width': '30rem', 'margin-bottom': '2em','display': 'flex' ,'justify-content': 'center'}">
  <form [formGroup]="createDocForm" clrForm class="miForm">
    <br/><br/>
    <span class="p-float-label" >
      <input id="float-input" type="text" pInputText formControlName="titulo" >
      <label for="float-input">Titutlo</label>
  </span>
  <br/><br/>
  <input style="color: 'white'; background-color:'#20262e';height: '20px';" clrInput type="file" (change)="alCargarDocumento($event)" accept=".pdf" name="documento" id="documento"  pInputFile formControlName="documento"  required  />
    <br/><br/>
    <select style="color: 'white'; background-color:'#20262e';height: '40px';" id="select-menu" formControlName='tipo' class="bx--text-input" required name="actionSelection" >
      <option  *ngFor="let t of tipos" style="color: '#20262e'; background-color:'white'" [value]="t">{{t}}</option>
    </select>
  <br/><br/>
  <span class="p-buttonset">
    <button pButton pRipple label="GUARDAR" icon="pi pi-check" (click)="subir()"></button>
    <button pButton pRipple label="CANCELAR" icon="pi pi-times" (click)="cancelar()"></button>
</span>
</form>
</p-card>
</div>
