<div class="diva" style="min-width: 50%;">
    <div class="grid p-fluid" style="text-align: center" ></div>
    <img src="https://res.cloudinary.com/dgooa3xoj/image/upload/v1654909337/ylvr2v36uxgja8vcljdm.png"  class="mr-2 center resp">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <input style="height: 45px; margin-top: 40px;" type="text" class="center inpresp" pInputText placeholder="Ingrese su usuario" >         
        </div>
        <div class="p-inputgroup">
            <input style="height: 45px; margin-top: 40px;" class="center inpresp" type="text"  pInputText placeholder="Ingrese su email" >         
        </div>
        <div class="p-inputgroup">
            <input style="height: 45px; margin-top: 40px;" class="center inpresp" type="text"  pInputText placeholder="Ingrese su contraseña" >         
        </div>

        <div class="p-inputgroup center" style="margin-top: 15px;">
            <a href="" style="text-decoration: none"><input type="submit" class="center btn" style="border-radius: 15px; width: 150px; cursor: pointer;" value=" Registrarse "/></a>     
        </div>



        
        

    </div>         

</div>
