
<div class="center2">

<div class="center2" style="background: rgb(51, 62, 77); padding: 50px; padding-top: 5px; position: absolute; margin-top: 100px">
    <div style="margin-top: 50px; margin-bottom: 50px; border-bottom: 10px solid rgb(202, 202, 202)">
        <h1 style="color:rgb(172, 172, 172)">Coordinador</h1>
        <h2 style="color:rgb(172, 172, 172)">Cristian Bauza - cristian.bauza@utec.edu.uy</h2>

    </div>

    <div style="margin-top: 50px; margin-bottom: 50px; border-bottom: 10px solid rgb(202, 202, 202)" >
        <h1 style="color:rgb(172, 172, 172)">Encargado de Laboratorios y Webmaster</h1>
        <h2 style="color:rgb(172, 172, 172)">Eduardo Calandria - eduardo.calandria@utec.edu.uy</h2>

    </div>

    <div style="margin-top: 50px; margin-bottom: 50px; border-bottom: 10px solid rgb(202, 202, 202)" >
        <h1 style="color:rgb(172, 172, 172)">Auxiliar Administrativa</h1>
        <h2 style="color:rgb(172, 172, 172)">Valeria Guisoli - valeria.guisoli@utec.edu.uy</h2>

    </div>

    <div style="margin-top: 50px; margin-bottom: 50px; border-bottom: 10px solid rgb(202, 202, 202)" >
        <h1 style="color:rgb(172, 172, 172)">Teléfono</h1>
        <h2 style="color:rgb(172, 172, 172)">4342 2743</h2>

    </div>


    <div style="margin-top: 50px; margin-bottom: 50px; border-bottom: 10px solid rgb(202, 202, 202)" >
        <h1 style="color:rgb(172, 172, 172)">Dirección</h1>
        <h2 style="color:rgb(172, 172, 172)">Calle Dr Evaristo Ciganda 461, 80000 San José, Departamento de San José</h2>
        <a href="https://www.google.com/maps/place/Universidad+Tecnol%C3%B3gica+del+Uruguay+%7C+ITRCS+Sede+San+Jose/@-34.3411098,-56.7139594,20.62z/data=!4m5!3m4!1s0x95a17728bba8e081:0x89ccc11ff9316c13!8m2!3d-34.3410676!4d-56.7139796"><h2>Ver Ubicación</h2></a>
    </div>




</div>


<!--
 Coordinador
Guillermo Roldós <groldos@fing.edu.uy>

Encargado de Laboratorios y Webmaster
Eduardo Calandria <ecalandria@fing.edu.uy>

Auxiliar Administrativo
tecnoinf.sj.adm@gmail.com>

Teléfono: 434 22743

Dirección: Batlle y Ordóñez 810 esq. Di Martino, San José de Mayo
  Ver mapa

-->