<div *ngIf="logueado=='1'" style="margin-top: 1%; width: 40%; float: right; margin-bottom: 4%">
    <input style="border-radius: 5px" class="btnEditar btnResp" type="submit" name="add" value="Nueva Unidad" (click)="agregar()">
</div>
<div class="" 

                *ngFor="let n of lstUnidadesCurriculares; let i = index">
                    
                <div class="">
                    <table>
                        <thead>
                        </thead>
                        <tbody>

                            
                            <td style="width: 40px"><p class="texto">{{n.id}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.nombre}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.descripcion}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.creditos}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.documento}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.semestre}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.materia.nombre}}</p></td>
                            <td style="width: 40px"><p class="texto">{{n.creditos}}</p></td>
                            <td *ngIf="logueado=='1'" style="vertical-align:text-top; width: 20%;">
                                <input style="border-radius: 5px; background: rgb(54, 1, 4);" class="btnEliminar btnResp" type="submit" name="eliminar" value="Eliminar">
                                <input style="border-radius: 5px" class="btnEditar btnResp" type="submit" id={{n.id}} name="editar" value="Lista_Previas" (click)="mandarID(n.id)">
                            </td>
                        </tbody>
                    </table>
                </div>
                
                <div class="">
                    
                </div>
</div>

