<div style="margin-top: 250px;" *ngIf="loader">
    <img src="../../../assets/imagen/ff.gif" class="loading center1" alt="">
</div>
<p-carousel [value]="lstNoticias" [numVisible]="1" [numScroll]="1" [autoplayInterval]="6000" [circular]="true">
    <ng-template let-notis pTemplate="item">
        
        <div style="position: relative; text-align: center;">
            <a href="/noticias"><img src="{{notis.imagen}}" class="center" style="margin-top: 100px;border-radius: 10px;" alt=""></a>
            <h1 class="center" style="margin-top: 30px; color: white" alt="">{{notis.titulo}}</h1>
        </div>
        
    </ng-template>

</p-carousel>