<form [formGroup]="previasForm" clrForm class="center esteform">    
    <div  class="center estediv" style="margin-left: 20px; margin-top: 70px;"> <form [formGroup]="previasForm" clrForm >    
            <br><br><br>
            <span>
                <label>Seleccione Unidad</label>
                <div>
                    <select style="width: 95%; background: rgb(51, 62, 77);" pInputText formControlName="unidad"  required>
                    <option value={{dato.id}} *ngFor="let dato of unidades">
                        {{dato.nombre}}
                    </option>
                    </select>
                </div>
            </span>
            <br>
            <span>
                <label>Seleccione Tipo</label>
                <div>
                    <select style="width: 95%; background: rgb(51, 62, 77)" pInputText formControlName="tipo"  required>
                    <option value="Examen">Examen</option>
                    <option value="Curso">Curso</option>
                    </select>
                </div>
            </span>
            <button type="button" class="btn btnEditar" (click)="agregarPrevia()">Agregar</button>
            <button type="button" class="btn btnEliminar" (click)="salir()">Atrás</button>

</form>