<button *ngIf="logueado=='1'" pButton pRipple  routerLink='/DocumentoNuevo'>AGREGAR DOCUMENTO</button>
&nbsp;&nbsp;&nbsp;
<button *ngIf="logueado=='1'" pButton pRipple  routerLink='/DocumentoHistorial'>HISTORIAL</button>
<br/><br/>
<p-tabView class="responsive-tab-view">
<p-tabPanel header="DATOS DE INTERES" class="p-tabview-nav">
<div *ngFor="let di of datint">
 <h3 style="text-decoration:underline"> {{di.titulo}} </h3>
 <p>
 <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="showPdf(di)">VER</button>
 &nbsp;
 <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="Editar(di)">EDITAR</button>
</p>
</div>
</p-tabPanel>
<p-tabPanel header="INFORMACION CARRERA" class="p-tabview-nav">
<div *ngFor="let ic of infocar">
 <h3 style="text-decoration:underline">  {{ic.titulo}}  </h3>
 <p>
  <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="showPdf(ic)">VER</button>
  &nbsp;
  <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="Editar(ic)">EDITAR</button>
 </p>
</div>
</p-tabPanel>
<p-tabPanel header="OPURTUNIDAD LABORAL" class="p-tabview-nav">
<div  *ngFor="let ol of oplab ">
  <h3 style="text-decoration:underline">{{ol.titulo}}</h3>
  <p>
  <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="showPdf(ol)">VER</button>
  &nbsp;
  <button *ngIf="logueado=='1'" pButton pRipple type="button" (click)="Editar(ol)">EDITAR</button>
 </p>
</div>
</p-tabPanel>
</p-tabView>
<div style="margin-top: 250px;" *ngIf="loader">
  <img src="../../../assets/imagen/ff.gif" class="loading center1" alt="">
</div>

