<br/><br/>
<button *ngIf='logueado' pButton pRipple label="AGREGAR DOCUMENTO" routerLink='/DocumentoNuevo'></button>
<button pButton pRipple label="HISTORIAL" routerLink='/DocumentoHistorial'></button>
<br/><br/>
<div style="display: 'flex' ; justify-content: 'center';">
<p-card header="DATOS DE INTERES" [style]="{'width': '25rem', 'margin-bottom': '2em','display': 'flex' ,'justify-content': 'center'}">
<div *ngFor="let di of datint">
 <h3 style="text-decoration:underline"> {{di.titulo}} </h3>
 <p>
 <button *ngIf='logueado' pButton pRipple type="button"  label="VER" (click)="showPdf(di)"></button>
 <button *ngIf='logueado' pButton pRipple type="button" label="EDITAR" (click)="Editar(di)"></button>
</p>
</div>
</p-card>

<br/><br/>

<p-card header="INFORMACION CARRERA" [style]="{'width': '25rem', 'margin-bottom': '2em','display': 'flex' ,'justify-content': 'center'}">
<div *ngFor="let ic of infocar">
 <h3 style="text-decoration:underline">  {{ic.titulo}}  </h3>
 <p>
  <button *ngIf='logueado' pButton pRipple type="button" label="VER"  (click)="showPdf(ic)"></button>
   <button *ngIf='logueado' pButton pRipple type="button" label="EDITAR"  (click)="Editar(ic)"></button>
 </p>
</div>
</p-card>

<br/><br/>

<p-card header="OPURTUNIDAD LABORAL" [style]="{'width': '25rem', 'margin-bottom': '4em','display': 'flex' ,'justify-content': 'center'}">
<div  *ngFor="let ol of oplab ">
  <h3 style="text-decoration:underline">{{ol.titulo}}</h3>
  <p>
  <button *ngIf='logueado' pButton pRipple type="button" label="VER"  (click)="showPdf(ol)"></button>
   <button *ngIf='logueado' pButton pRipple type="button" label="EDITAR"  (click)="Editar(ol)"></button>
 </p>
</div>
</p-card>
</div>
