<div *ngIf="logueado=='1'" style="margin-top: 1%; width: 40%; float: right; margin-bottom: 4%">
    <a href="altaNoticia"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" name="add" value="Nueva Noticia"></a>
</div>
<div class="" 

                *ngFor="let n of lstNoticias; let i = index">
                    
                <div class="">

                    <table>
                        <thead>
                        </thead>
                        <tbody>

                            <td style="width: 20%; border-radius: 7px"> <img src="https://res.cloudinary.com/dgooa3xoj/image/upload/v1655850252/a8oqeptscpin06opv0p3.jpg" alt=""></td>
                            <td style="vertical-align:text-top;"> 
                                <p style="margin-bottom: 2%" class="titulo">{{n.titulo}}</p>
                                <p style="margin-top: 0px" class="texto">{{n.descripcion.substring(0,120)}}</p>
                                <p style="margin-top: 0px" class="texto">{{n.descripcion.substring(121,241)}}</p>
                                <p style="margin-top: 0px" class="texto">{{n.descripcion.substring(242,363)}}</p>


                            </td>
                            
                            <td *ngIf="logueado=='1'" style="vertical-align:text-top; width: 20%;">
                                <input style="border-radius: 5px; background: rgb(54, 1, 4);" class="btnEliminar btnResp" type="submit" name="eliminar" value="Eliminar">
                                <a href="editarNoticia"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" id={{n.id}} name="editar" value="Editar"></a>
                            </td>
                        </tbody>
                    </table>

                    
                   
                </div>
                
                <div class="">
                    
                </div>
</div>

<!-- {{n.imagen}} -->