<div style="margin-top: 250px;" *ngIf="loader">
    <img src="../../../assets/imagen/ff.gif" class="loading center1" alt="">
</div>

<div *ngIf="!loader">
    <div  style="margin-top: 1%; width: 40%; float: right; margin-bottom: 4%">
        <a *ngIf="logueado=='1'" href="altaNoticia"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" name="add" value="Nueva Noticia"></a>
        <a  href="historial-noticias"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" name="add" value="Ver Todas"></a>
    </div>
</div>

<form [formGroup]="noticiaForm" clrForm class="miForm">


<div class="" *ngFor="let n of lstNoticias; let i = index">
                    
                <div class="">

                    <table>
                        <thead>
                        </thead>
                        <tbody>

                            <td style="width: 20%; border-radius: 7px"><a href="verNoticia" (click)="abrirVer(i)"> <img src="{{n.imagen}}" alt=""></a></td>
                            <td style="vertical-align:text-top;"> 
                                <p style="margin-bottom: 2%;margin-top: 5%" class="titulo">{{n.titulo}}</p>
                                <p style="margin-top: 0px; margin-bottom: 5%" class="texto">{{n.descripcion.substring(0,100)}}...</p>
                            </td>

                            <td *ngIf="logueado=='1'" style="vertical-align:text-top; width: 20%;">

                                <input style="display:none" type="text" value={{n.id}} name="id">

                                <input style="border-radius: 5px" class="btnEliminar btnResp" type="submit" id={{n.id}} name="eliminar" value="Eliminar" (click)="eliminar(n.id)">
                                <a href="editarNoticia"><input style="border-radius: 5px" class="btnEditar btnResp" type="submit" id={{n.id}} name="editar" value="Editar" (click)="abrirEditar(i)"></a>
                                
                            </td>

                        </tbody>
                    </table>

                   
                </div>
                
                <div class="">
                    
                </div>
</div>
</form>



<!-- {{n.imagen}} -->

<script>
    function setId(item){
        alert();
    }
</script>