<div class="diva" style="min-width: 50%;">
    <div class="grid p-fluid" style="text-align: center" ></div>
    <a href=""><img src="https://res.cloudinary.com/dgooa3xoj/image/upload/v1654899685/f2elots6kahepjm85wlo.png" style= "margin-bottom: 100px; margin-left: auto; margin-right: auto; width: 500px; height: 300px; margin-right: 25px; float: left" class="mr-2"></a>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <input style="margin-left: 22%; width: 50%; height: 40px" type="text" pInputText placeholder="Username">         
        </div>
    </div>         

</div>
