<div class="center" style="margin-top: 5%">
    
    <br/><br/>
    <form [formGroup]="editMateriaForm" clrForm class="miForm">

    <span class=" inpresp1" >
        <label for="float-input" style="color: rgb(214, 213, 213)">Nombre</label><br>
            <input id="float-input" type="text" style="width: 80%" pInputText formControlName="nombre"  required >
        </span>
    <br/><br/>
    <span class="inpresp1" >
        <label for="float-input" style="color: rgb(214, 213, 213)">Descripcion</label><br>

        <input id="float-input" type="text" style="width: 80%" pInputText formControlName="descripcion"  required >
    </span>


    <br><br>

    <span class="inpresp1" >
        <label for="float-input" style="color: rgb(214, 213, 213)">Creditos</label><br>

        <input id="float-input" type="text" style="width: 80%" pInputText formControlName="creditos"  required >
    </span>

    <br/><br/>
    <input type="submit" class="btn btnResp" style="width: 150px; border-radius:15px; color:white" value="Guardar Cambios" (click)="editar()" />
</form>
</div>


<script>
    
</script>
